@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


    MVC Movie is America’s destination for affordable and convenient new-release movie and video game rentals. About a million discs (and sometimes a whole lot more) are rented from our kiosks every single day. That adds up to more than 5 billion rentals since we launched in 2002 when “My Big Fat Greek Wedding” and “Men in Black II” were hot rentals.

    MVC Movie is the best entertainment deal on the planet, and we should know – we’re everywhere. We have more locations in the U.S. than Starbucks and McDonald’s combined, so it’s not hard to find us. You’ll also find the lowest prices imaginable for today’s biggest hits. With movie rentals for just $1.75 a night, renting a new-release movie from MVC Movie is half the cost of a new-release cable movie rental, and we don’t require a monthly subscription fee.
    What’s New?

    Stream Movies & TV Shows On-the-Go: Our latest offering, MVC Movie On Demand, delivers an even broader selection of movies and TV shows via transactional video on demand (VOD) and electronic sell-through (EST).
    Buy Movies & Games at the Box: Consumers can now buy previously-viewed movies and video games for amazingly low prices. Simply browse and reserve the titles you want to purchase and then pick up the discs at the box you selected.
    Switch Rentals Are Rolling Out:  Nintendo Switch rentals are now available in six cities across the country, including Portland, Oregon, Seattle, Washington, San Antonio, Texas, Denver, Colorado, Salt Lake City, Utah and Nashville, Tennessee
    4K UHD Rentals: Watch movies in even better quality – 4K Ultra HD rentals are available in six test markets for just $2.50 per night. Test markets include Los Angeles, Seattle, Austin, Detroit, Miami, and New York City.

    MVC Movie Fast Facts

    $1.75 a day for DVDs, $2 a day Blu-ray™ Discs and $3 a day for video games
    Earn free movie and game nights via MVC Movie Perks
    Rent a new-release cheaper than cable
    No monthly subscription required
    Rent and return anywhere at any of our more than 41,500 kiosks and counting
    Reserve online or on the MVC Movie app

    Brief History

    MVC Movie revolutionized the way Americans rent movies when it was founded in 2002 on the belief that consumers deserved a convenient way to rent new-release movies at a low nightly price.

    Soon after testing began within McDonald’s Ventures LLC, MVC Movie started counting its locations and rentals by the hundreds instead of the handfuls. During the peak period of installations, new kiosks appeared every hour, every day, 365 days a year to keep up with retailer interest and customer demand.

    In 2010, MVC Movie rented its 1 billionth disc and also started renting Blu-ray™ Discs. Video games made their debut nationally in 2011.

    Today, MVC Movie is located at some of the largest retailers nationwide, where Americans have rented more than 5 billion discs.

    Let’s do some math:

    When laid end-to-end, 5 billion discs could wrap around the world 15 times.
    5 billion rentals adds up to more than 10 billion hours of movie-watching mania.
    New-release movie rentals used to cost a whole lot more a night, so our math tells us we’ve saved Americans about a gazillion dollars over the years.

    The MVC Movie team works hard every day – in your local communities to uphold our promise to bring you a constantly updated selection of the newest hit movies and video games.

